{% load static %}
<script src="{% static 'boot/js/bootstrap.bundle.js'%}"  type="text/javascript"></script>
<script src="{% static 'boot/js/bootstrap.bundle.min.js'%}"  type="text/javascript"></script>
<script src="{% static 'boot/js/bootstrap.esm.js'%}"  type="text/javascript"></script>
<script src="{% static 'boot/js/bootstrap.esm.min.js'%}"  type="text/javascript"></script>
<script src="{% static 'boot/js/bootstrap.js'%}"  type="text/javascript"></script>
<script src="{% static 'boot/js/bootstrap.min.js'%}"  type="text/javascript"></script>